#queue_dialog {
    width: 200px;
    height: 300px;
    background-color: white;
    overflow: auto;
    border-bottom: 1px solid #B9090B;
}

#outer_queue_dialog {
    background-color: white;
    border: 1px solid black; 
}

#queue_login {
    width: 100%;
    height: 30px;
    background-color: #C63;
    vertical-align: center;
    margin: auto;
    text-align: left;
    padding-top: 3px;
}

#queue_login span.title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 5px;
}

#queue_login label {
    font-weight: bold;
}

#queue_login input {
    margin-right: 10px;
}

#queue_login button {
    margin-right: 5px;
}